body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.animated-background {
  animation: moveBackground 20s linear infinite;
  background: linear-gradient(270deg, #6d5dfc, #c978f2, #f59ca9, #6d5dfc);
  background-size: 800% 800%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@keyframes moveBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #6d5dfc;
  color: white;
}

#walletInfo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
}
